<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName='id' placeholder="id" matInput type='text' />
                        <mat-error *ngIf="idField.hasError('required')">This field is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName='title' placeholder="title" matInput type='text' />
                        <mat-error *ngIf="titleField.hasError('required')">This field is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName='price' placeholder="price" matInput type='number' />
                        <mat-error *ngIf="priceField.hasError('required')">This field is required</mat-error>
                        <mat-error *ngIf="priceField.hasError('price_invalid')">Try with a less than 10000 number</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea formControlName='description' placeholder="description" matInput></textarea>
                        <mat-error *ngIf="descriptionField.hasError('required')">This field is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <img *ngIf="(image$ | async) as image" [src]="image" alt="">
                    <input type="file" (change)="uploadFile($event)">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]='form.invalid' mat-raised-button color='primary' type="submit">Save</button>
        </mat-card-actions>
    </mat-card>
</form>